<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pan.mydemo"
    tools:overrideLibrary="com.facebook.react">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 无障碍服务 -->
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"/>
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 手机信息 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <!-- Jpush -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.example.pan.mydemo.permission.JPUSH_MESSAGE"/>
    <!-- nfc -->
    <uses-permission android:name="android.permission.NFC"/>
      
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false"/>

    <!-- Tell the system this app requires OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nopiAXSGl2xsnhHW07xUe3fUErX5nsud"/>

        <activity
            android:name=".view.LoadingActivity"
            android:theme="@style/AppTheme.AppStartLoad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".view.SecondActivity"
            android:label="@string/app_name"/>

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":MyAIDLService">
            <intent-filter>
                <action android:name="com.example.pan.mydemo.aidl"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.FloatDialogService"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name=".service.MyClientService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".view.customview.ZoomActivity"
            android:theme="@style/AppTheme.StatusTranslattion"/>
        <activity
            android:name=".view.AnimActivity"
            android:label="@string/title_activity_anim"/>
        <activity
            android:name=".view.ServiceActivity"
            android:label="@string/title_activity_service"/>
        <activity
            android:name=".view.InflaterFactoryActivity"
            android:label="@string/title_activity_inflater_factory"/>
        <activity
            android:name=".view.VolleyActivity"
            android:label="@string/title_activity_volley"/>
        <activity
            android:name=".view.OkHttpActivity"
            android:label="@string/title_activity_ok_http"/>
        <activity
            android:name=".view.WebActivity"
            android:label="@string/title_activity_web"/>
        <activity android:name=".view.rxjava.RxJavaActivity"/>
        <activity
            android:name=".view.PicassoActivity"
            android:label="PicassoActivity"/>
        <activity android:name=".view.materialdesign.RecyclerViewItemDecorationActivity"/>
        <activity android:name=".view.CordovaActivity"/>
        <activity android:name=".view.ReactNativeActivity"/>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>
        <activity
            android:name=".view.materialdesign.SwipCloseActivity"
            android:theme="@style/transparent"/>
        <activity android:name=".view.BaiduMapDemoActivity"/>
        <activity android:name=".view.SkinLoaderActivity"/>
        <activity
            android:name=".view.materialdesign.ConstraintLayoutActivity"
            android:label="@string/title_activity_constraint_layout"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>
        <service
            android:name=".service.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/accessibility_service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service"/>
        </service>
        <service
            android:name=".service.AutoReplyService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/auto_reply_service"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/auto_reply_service"/>
        </service>

        <activity android:name=".view.AccessibilityServiceActivity"/>
        <activity android:name=".view.BlurringActivity"/>
        <activity android:name=".view.anim.ViewPagerActivity"/>
        <activity android:name=".view.opencv.OpenCVGrayActivity"/>
        <activity android:name=".view.opencv.OpenCVActivity"/>
        <activity
            android:name=".view.opencv.OpenCVFeatureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar.FullScreen"/>
        <activity
            android:name=".view.opencv.OpencvFaceDetectionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar.FullScreen"/>
        <activity
            android:name=".view.opencv.OpenCVCarPlateActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar.FullScreen"/>
        <activity
            android:name=".view.opencv.OpenCVCarDetectionActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar.FullScreen"/>
        <activity
            android:name=".view.opencv.OpenCVMakeDelaunayForFaceActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar.FullScreen"/>
        <activity android:name=".view.FrescoActivity"/>
        <activity
            android:name=".view.opencv.OpenCVCarPlateDetectionByCActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar.FullScreen"/>
        <activity
            android:name=".view.WebJsBridgeActivity"
            android:exported="false"
            android:process=":newtask"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.FileReaderActivity"/>
        <activity android:name=".view.anim.PathAnimActivity"/>
        <activity android:name=".view.anim.LayoutAnimActivity"/>
        <activity android:name=".view.anim.PropertyAnimActivity"/>
        <activity android:name=".view.anim.SvgPathAnimActivity"/>
        <activity
            android:name=".view.anim.XMLPropertyAnimActivity"
            android:label="XMLPropertyAnim"/>
        <activity android:name=".view.NotificationActivity"/>

        <receiver
            android:name=".broadcast.NotificationBroascastReveiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION"/>
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED"/>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION"/>
                <action android:name="cn.jpush.android.intent.CONNECTION"/>

                <category android:name="com.example.pan.mydemo"/>
            </intent-filter>
        </receiver>

        <activity android:name=".view.opengl.OpenGLActivity"/>
        <activity android:name=".view.opengl.OpenGLSampleActivity"/>
        <activity android:name=".view.opengl.OpenGL20SampleActivity"/>
        <activity
            android:name=".view.RecentTaskActivity"
            android:launchMode="standard"/>
        <activity android:name=".view.materialdesign.MaterialDesignActivity"/>
        <activity
            android:name=".view.materialdesign.NavigationViewActivity"
            android:theme="@style/AppTheme.StatusTranslattion"/>
        <activity
            android:name=".view.materialdesign.CollapsingToolbarLayoutActivity"
            android:label="CollapsingToolBarLayoutActivityTitleSample"/>
        <activity android:name=".view.materialdesign.SceneTransitionActivity"/>
        <activity android:name=".view.materialdesign.SceneTransitionDetailActivity"/>
        <activity android:name=".view.materialdesign.RightSwipMenuActivity"/>
        <activity android:name=".view.anim.OtherAnimActivity"/>
        <activity android:name=".view.opengl.OpenGLProjectionActivity"/>
        <activity android:name=".view.opengl.OpenGLLightActivity"/>
        <activity android:name=".view.CheckDevActivity"/>
        <activity android:name=".view.opengl.OpenGLTextureActivity"/>
        <activity
            android:name=".view.materialdesign.SearchViewActivity"
            android:label="SearchView"/>
        <activity
            android:name=".view.materialdesign.NestedScrollingActivity"
            android:label="NestedScrolling"/>
        <activity
            android:name=".view.customview.CustomViewActivity"
            android:label="自定义View"/>
        <activity
            android:name=".view.web.WebIntentActivity"
            android:allowTaskReparenting="true"
            android:label="从web打开App">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="localhost"
                    android:scheme="panapp"/>
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".view.customview.CircleRectViewActivity"
            android:label="CircleRectView"/>
        <activity
            android:name=".view.materialdesign.NestedScrollViewActivity"
            android:label="ScrollViewOnScroll"/>
        <activity
            android:name=".view.materialdesign.NestedScrolling2Activity"
            android:label="BottomSheetBehavior"/>
        <activity
            android:name=".view.materialdesign.FlexBoxLayoutActivity"
            android:label="FlexBoxLayout"/>
        <activity android:name=".view.queue.PriorityConQueueActivity"/>
        <activity android:name=".view.queue.PriorityQueueActivity"/>
        <activity android:name=".view.queue.SimpleQueueActivity"/>
        <activity android:name=".view.rxjava.RxJava1Activity"/>
        <activity android:name=".view.rxjava.RxJava2Activity"/>
        <activity android:name=".view.rxjava.RxJava3Activity"/>
        <activity android:name=".view.RetrofitActivity"/>
        <activity
            android:name=".view.GlideActivity"
            android:label="GlideActivity"/>
        <activity
            android:name=".view.materialdesign.RecyclerViewActivity"
            android:label="RecyclerViewActivity"/>
        <activity
            android:name=".view.materialdesign.RecyclerViewItemDecoration2Activity"
            android:label="ItemDecoration2Activity"/>
        <activity android:name=".view.materialdesign.RecyclerViewRelatedActivity"/>
        <activity
            android:name=".view.NFCActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask">

            <!-- NFC Tech Filter -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter"/>
        </activity>
        <activity
            android:name="com.androidyuan.lib.screenshot.ScreenShotActivity"
            android:theme="@android:style/Theme.Dialog"/>

        <service
            android:name=".service.GameOptionService"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".view.opencv.HSVDetectionActivity"/>
        <activity android:name=".view.opencv.OpenCVThresholdActivity"/>
        <activity
            android:name=".view.CalendarActivity"
            android:label="CalendarActivity"/>
        <activity android:name=".view.database.UserInsertActivity">
        </activity>
        <activity android:name=".view.database.UserInfoActivity">
        </activity>
        <activity android:name=".view.database.DataBaseActivity">
        </activity>
        <activity android:name=".view.materialdesign.DragRecyclerViewActivity">
        </activity>
    </application>

</manifest>